* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.mainTitle {
  color: red;
  background-color: pink;
  font-size: 50px;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
  padding: 2vw;
}

nav {
  padding-right: 1vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 36px;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.nav-a {
  padding: 2vw;
  color: red;
}

.nav-a:hover {
  background-color: red;
  color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: pink;
  list-style: none;
  padding: 2vw;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}

.dropdown-content a {
  color: red;
  padding: 29px;
}

.dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown-container:hover .dropdown-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

p {
  margin: 16px;
  font-family: "IBM Plex Serif", serif;
}

h2 {
  color: pink;
  font-size: 130px;
  text-shadow: 3px 3px 0px #ff0000;
  margin: 4vw;
  font-family: "Source Sans Pro", sans-serif;
}

h3 {
  color: red;
  font-size: 40px;
  background-color: pink;
  margin-bottom: 30px;
  margin-top: 46px;
  padding: 5px;
  padding-left: 5vw;
  font-family: "Source Sans Pro", sans-serif;
}

.figure-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

figure {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: red;
  padding: 10px;
  margin-bottom: 16px;
}

figcaption {
  background-color: pink;
  color: red;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

figure img {
  padding: 5px;
  background-color: red;
}

.allbooks {
  margin-left: 228px;
}

.nav-list {
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  padding: 10px;
}

.nav-list li {
  margin: 16px;
  margin-bottom: 27px;
}

.nav-list a {
  color: red;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.article {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

article a {
  margin: 16px;
  margin-left: 46px;
  font-family: "IBM Plex Serif", serif;
}

article a:hover {
  text-decoration: underline;
}

article img {
  margin: 16px;
  margin-left: 46px;
}

article table {
  border-spacing: 16px;
  font-family: "IBM Plex Serif", serif;
}

article p {
  margin-left: 46px;
}


#uppKnapp {
  padding: 5px 10px 0px 10px;
  background-color: pink;
  font-size: 32px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-weight: bold;
  text-decoration: none;
  color: red;
}

footer {
  margin-top: 32px;
  color: red;
  padding: 24px;
  background-color: pink;
}
