* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #78a4cf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

h1 a {
  color: #dce0de;
  text-decoration: none;
}

nav {
  padding-right: 32px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: bold;
}

nav a {
  padding: 16px;
  text-decoration: none;
  color: #2f498e;
}

nav a:hover {
  background-color: #2f498e;
  color: #78a4cf;
}

main p{
  margin: 16px;
}

footer {
  color: #2f498e;
  padding: 16px;
  background-color: #78a4cf;
}

#uppKnapp {
  padding: 10px 15px 0px 15px;
  background-color: #78a4cf;
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-weight: bold;
  text-decoration: none;
  color: #2f498e;
}
