* {
  margin: 0;
  padding: 0;
}

header {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
  box-shadow: 0px 5px 5px  rgba(0, 0, 0, 0.1);
  
}

.mainTitle {
  color: red;
  text-decoration: none;
  font-size: 34px;
  font-weight: bold;
}

nav {
  padding-right: 1vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 26px;
  font-weight: bold;
}

.nava {
  padding: 2vw;
  text-decoration: none;
  color: red;
}

.nava:hover {
  background-color: red;
  color: pink;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: pink;
  list-style: none;
}

.dropdown-content a {
  text-decoration: none;
  color: red;
  padding: 32px;

}

.dropdown:hover .dropdown-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

main {
  margin: 16px;
}

p {
  margin-bottom: 16px;
}

footer {
  color: red;
  padding: 16px;
  background-color: pink;
}

#uppKnapp {
  padding: 5px 10px 0px 10px;
  background-color: pink;
  font-size: 32px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  font-weight: bold;
  text-decoration: none;
  color: red;
}
